@{
    Layout = null;
}

@using SmartCredit.FrontEnd.WebApp.ViewModels
@model CreditCardStatementViewModel

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            @(SmartCredit.FrontEnd.WebApp.Helpers.BS5Inyection.Get())
        </style>


    </head>
    <body>
        <div class="w-100 ps-3 pe-3">
    @if (!string.IsNullOrEmpty(Model.CardNumber))
    {
        <div style="text-align:center; margin-bottom:30px;">
            <h3 style="font-size:2rem; font-weight:bold;">Estado de cuenta de tarjeta</h3>
            <h5 style="font-size:1rem; font-weight:bold;">@Model.Year - @Model.Month</h5>
        </div>

<div style="border: 1px solid #ccc; padding: 16px; border-radius: 8px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); overflow: hidden;">
    <div style="width: 100%; margin-bottom: 16px; overflow: hidden;">
        <div style="float: left; width: 48%;">
            <strong>Titular:</strong> @Model.HolderName <br />
            <strong>Número de tarjeta:</strong> @Model.CardNumber<br />
            <strong>Saldo actual:</strong> @Model.Balance.ToString("C")<br />
            <strong>Limite de crédito:</strong> @Model.CreditLimit.ToString("C")<br />
            <strong>Saldo disponible:</strong> @Model.AvailableBalance.ToString("C")
        </div>
        <div style="float: right; width: 48%;">
            <strong>Total Compras (Periodo):</strong> @Model.TotalPurchaseSelectedPeriod.ToString("C")<br />
            <strong>Total Pagos (Periodo):</strong> @Model.TotalPaymentsSelectedPeriod.ToString("C")<br />
            <strong>Total Compras (Periodo anterior):</strong> @Model.TotalPurchaseLastPeriod.ToString("C")<br />
            <strong>Total Pagos (Periodo anterior):</strong> @Model.TotalPaymentsLastPeriod.ToString("C")
        </div>
    </div>

    <hr style="border: none; border-top: 1px solid #ccc; margin: 16px 0;" />

    <div style="width: 100%; overflow: hidden;">
        <div style="float: left; width: 48%;">
            <strong>Cuota minima a pagar:</strong> @Model.MinimumQuota.ToString("C")<br />
            <strong>Monto total de contado con intereses:</strong> @Model.TotalAmountWithInterest.ToString("C")
        </div>
        <div style="float: right; width: 48%;">
            <strong>Interes bonificable:</strong> @Model.BonusInterest.ToString("C")<br />
            <strong>Monto total a pagar:</strong> @Model.TotalPeriodBalance.ToString("C")
        </div>
    </div>
</div>


        <div class="mt-4">
            <h3 class="border-bottom pb-2" style="font-weight:bold;">Transacciones</h3>
            <table id="tblTransactions" class="table table-bordered table-striped table-hover">
                <thead class="table-custom-danger">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Compra</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Transactions)
                    {
                        <tr>
                            <td style="text-align:center;">@item.Date.ToLocalTime().ToString("dd/MM/yyyy")<br />@item.Date.ToLocalTime().ToString("hh:mm:ss tt")</td>
                            <td syle="padding-left:15px;">@item.Description</td>
                            <td style="text-align:center;">@(item.Type == 2 ? item.Amount.ToString("C") : "-")</td>
                            <td style="text-align:center;">@(item.Type == 1 ? item.Amount.ToString("C") : "-")</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-end"><strong>Total:</strong></td>
                        <td style="text-align:center;" style="font-weight:bold">@Model.Transactions.Where(x => x.Type == 2).Sum(x => x.Amount).ToString("C")</td>
                        <td style="text-align:center;" style="font-weight:bold">@Model.Transactions.Where(x => x.Type == 1).Sum(x => x.Amount).ToString("C")</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <div style="text-align:center;">
            <h5 style="font-size:1.5rem; margin-top:100px;">No hay datos que mostrar</h5>
        </div>
    }
</div>

    </body>
</html>