@using SmartCredit.FrontEnd.WebApp.ViewModels
@model List<TransactionsViewModel>

@{
    Layout = null;
}


        <table id="tblTransactions" class="table table-bordered table-striped">
            <thead class="table-custom-danger">
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Pago</th>
                    <th scope="col">Compra</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Date.ToLocalTime().ToString("dd/MM/yyyy")<br />@item.Date.ToLocalTime().ToString("hh:mm:ss tt")</td>
                        <td>@item.Description</td>
                        <td class="text-success">@(item.Type == 2 ? item.Amount.ToString("C") : "-")</td>
                        <td class="text-danger">@(item.Type == 1 ? item.Amount.ToString("C") : "-")</td>
                    </tr>
                }
            </tbody>
        </table>

  <script>
    $(document).ready(() => {
        $('#tblTransactions').DataTable({
            dom: 'rtip',
            responsive: true,
            pageLength: 5,
            order: [[0, 'desc']], // Ordena la columna de fecha 
            columnDefs: [ //Como la fecha esta en un formato no nativo se fuerza al datatable a formatearlo
                {
                    targets: 0, 
                    render: (data, type, row) => {
                        if (type === 'sort' || type === 'type') {
                            const parts = data.split('<br>');
                            const datePart = parts[0].split('/').reverse().join('-'); // dd/MM/yyyy a yyyy-MM-dd
                            const timePart = parts[1].replace('AM', '').replace(' PM', '').replace(':', '').replace(':', '');
                            return datePart + timePart;
                        }
                        return data;
                    }
                }
            ]
        });
    });
  </script>